<head>
  <script src="../../routes/header.js" defer></script>
  <link rel="stylesheet" href="/CSS/header.css">
</head>

<nav class="topnav">
  <div class="brand-title">Brand Name</div>

  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="topnav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

  
