<h2>Home Page</h2>

<form id= "login" action="/" method="POST">
    <table style="border-spacing: 15px;">
        <tr><td><input id="email" name="email" type="text" placeholder="email" required></td></tr>
        <tr><td><input id="password" name="password" type="text" placeholder="password" required></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
</form>